%html
  %head
    %title
      Nomadic
    = include_gon
    = csrf_meta_tags
    = stylesheet_link_tag "application"
  %body(ng-app="Nomadic")
    %nav.nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="NavController")
      %a.navbar-brand(href="/")
        Nomadic
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.new
          -if current_user.present?
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              %img(src="#{current_user.img}")
            %ul.dropdown-menu
              %li
                %a(href="#")#{current_user.name}'s Profile
              %li
                %a(href="#")Create Story!
              %li.divider
              %li
                %a#sign-out(href="/widgets/new")Sign Out
          - else
            %a#sign-in.dropdown-toggle(href="/auth/facebook" data-toggle="dropdown")
              Log In!
    = yield
    #footer
    = javascript_include_tag "application"


